<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../css/style.css" rel="stylesheet" type="text/css" />
<link href="../css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" th:src="@{../js/jquery-1.8.3.min.js}"></script>
<script type="text/javascript" th:src="@{../js/jquery.idTabs.min.js}"></script>
<script type="text/javascript" th:src="@{../js/select-ui.min.js}"></script>
<script type="text/javascript" th:src="@{../editor/kindeditor.js}"></script>
<script type="text/javascript">
	KE.show({
		id : 'content7',
		cssPath : './index.css'
	});
	$(document).ready(function(e) {
		$(".select1").uedSelect({
			width : 345
		});
		$(".select2").uedSelect({
			width : 167
		});
		$(".select3").uedSelect({
			width : 100
		});
	});
	function check() {
		return false;
	}
</script>
</head>
<body>
	<div class="place">
		<span>位置：</span>
		<ul class="placeul">
			<li><a href="#">意见管理</a></li>
			<li><a href="find">意见列表</a></li>
			<li><a th:href="@{toDetail(id=${suggestion.id})}">意见详情</a></li>
			<li><a th:href="@{toReplay(id=${suggestion.id})}">意见回复</a></li>
		</ul>
	</div>
	<div class="formbody">
		<div class="formtitle">
			<span th:text="${suggestion.title}"></span>
		</div>

		<div>
			<span th:utext="${suggestion.content}"></span>
		</div>

	</div>
	<div class="formbody">
		<div class="formtitle">
			<span>回复信息</span>
		</div>
		<form action="replay" method="post">
			<ul class="forminfo">
				<li><label>意见内容<b>*</b></label> <textarea id="content7"
						name="content"
						style="width: 700px; height: 250px; visibility: hidden;"></textarea>
				</li>
				<li><label>&nbsp;</label>
				<input type="hidden" name="replayEmpid" th:value="${suggestion.empId}"/>
				<input type="hidden" name="suggestionId" th:value="${suggestion.id}"/>
				<input name="" type="submit"
					class="btn" value="马上回复" /></li>
			</ul>
		</form>

	</div>
</body>
</html>